<div class="row">
    <div class="col-md-12">
        <h1>Welcome to our Dog Grooming Scheduler!</h1>
        <p>Schedule an appointment for your furry friend.</p>
    </div>
</div>
{{>calendar}}
<script src='/js/calendar.js'></script>