<!DOCTYPE html>
<html>
<head>
    <title>Dog Grooming Appointment Scheduler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://unpkg.com/@fullcalendar/core@4.4.2/main.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/@fullcalendar/daygrid@4.4.2/main.min.css" rel="stylesheet" />
</head>
<body>
  {{>navbar}}
    <div class="container">
        {{{body}}}
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; 2023 Dog Grooming Scheduler</span>
        </div>
    </footer>

<script src="https://unpkg.com/@fullcalendar/core@4.4.2/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/daygrid@4.4.2/main.min.js"></script>
</body>
</html>